.header{
    /*background-color: #324157;*/
    background-color:#20A0FF;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #20a0ff;
}
.el-upload--text em {
    color: #20a0ff;
}
.pure-button{
    background: #20a0ff;
}
